/* Hoja estilos css para barra de navegacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {


    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin: auto;
    width: 100%;
    padding: 20px;
    
    /*Linea FlexBox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
header a:link, a:visited {
/*Diseño de botones barra navegacion sin el cursor sobre el, "link" en cambio de color y "visited" mientras el objeto es visibilisado sin cursor*/
    background-color: #7a7a7a;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
header a:hover, a:active {
/*cuando el cursor esta sobre el: hover interaccion con el cursor y "active" representacion de un boton al cambiar el tamaño de la fuente este desplaza el icono completo*/
    background-color: red;
    color: white;
    font-size: 150%;
}
input {
    padding: 15px;
}
header button {
    padding: 20%;
}
.logo {
    font-size: 200%;
    color: #7a7a7a;
}
