* {
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100%;
  background: white;
  width: 150px;
  margin: 100px auto 0 auto;
  color: white;
  text-align: center;
}

.App li{
  list-style-type: none; 
}

.category h3{
  font-size: 12px;
  line-heigth: 34px;
  padding:0 10px;
  margin: 0px;
  background: black;
}

.category ul li a{
  color: black;
  text-decoration: none;
  font-size: 11px;
  line-heigth: 27px;
  display: block;
  padding:0 15px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/